In [1]:
#!pip install pysqlite3

Collecting pysqlite3
  Downloading pysqlite3-0.5.2.tar.gz (40 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.7/40.7 kB 1.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: pysqlite3
  Building wheel for pysqlite3 (setup.py) ... done
  Created wheel for pysqlite3: filename=pysqlite3-0.5.2-cp311-cp311-macosx_11_0_arm64.whl size=36472 sha256=1cc49470841c94eb4e82b5c6c0b7ff2c673fc8db426d53d7915276861ce61190
  Stored in directory: /Users/rayon/Library/Caches/pip/wheels/9c/c7/8d/ab361fea28bd859525da6175948ed260dcf63fef2518b61abd
Successfully built pysqlite3
Installing collected packages: pysqlite3
Successfully installed pysqlite3-0.5.2

In [2]:
#!pip install db-sqlite3

Collecting db-sqlite3
  Downloading db-sqlite3-0.0.1.tar.gz (1.4 kB)
  Preparing metadata (setup.py) ... done
Collecting db (from db-sqlite3)
  Downloading db-0.1.1.tar.gz (3.4 kB)
  Preparing metadata (setup.py) ... done
Collecting antiorm (from db->db-sqlite3)
  Downloading antiorm-1.2.1.tar.gz (171 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 172.0/172.0 kB 2.6 MB/s eta 0:00:00a 0:00:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: db-sqlite3, db, antiorm
  Building wheel for db-sqlite3 (setup.py) ... done
  Created wheel for db-sqlite3: filename=db_sqlite3-0.0.1-py3-none-any.whl size=1768 sha256=e9e7c978039372624beb272f2382d0955db998d271daac4393c3901b15f280b7
  Stored in directory: /Users/rayon/Library/Caches/pip/wheels/d2/76/f8/d078e1609571cb2d847296a2bb130a355498554aa647e957ba
  Building wheel for db (setup.py) ... done
  Created wheel for db: filename=db-0.1.1-py3-none-any.whl size=3874 sha256=2d46dd1c75144722f1bd416a7f96f0e209e3a89379d39cce8519786fbb880477
  Stored in directory: /Users/rayon/Library/Caches/pip/wheels/1f/a9/df/8e343ae1489f35fa96888200ee3340217512b98bed2c2def2d
  Building wheel for antiorm (setup.py) ... done
  Created wheel for antiorm: filename=antiorm-1.2.1-py3-none-any.whl size=31663 sha256=89e6ff919e0b7c4557848e6e0e7593e7733176fee70119a199767b93c8b13c3b
  Stored in directory: /Users/rayon/Library/Caches/pip/wheels/71/04/d9/c9b4297ae902eb961bc1cff29b248a7e706693200ef2656fb2
Successfully built db-sqlite3 db antiorm
Installing collected packages: antiorm, db, db-sqlite3
Successfully installed antiorm-1.2.1 db-0.1.1 db-sqlite3-0.0.1

In [3]:
#!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.9.tar.gz (384 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 384.9/384.9 kB 4.3 MB/s eta 0:00:00a 0:00:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.9-cp311-cp311-macosx_11_0_arm64.whl size=132035 sha256=d5c1550b14b1721e02842f135e2b0f75d30938e2af0c8ddc31807018b595a059
  Stored in directory: /Users/rayon/Library/Caches/pip/wheels/ab/34/b9/78ebef1b3220b4840ee482461e738566c3c9165d2b5c914f51
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9

In [4]:
import certifi
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlite3
import urllib3
from urllib3 import request
from unicodedata import normalize

In [5]:
 # Read sqlite query results into a pandas DataFrame
with sqlite3.connect("./data/movies.sqlite") as conn:
    print(conn)
    df = pd.read_sql("SELECT * from movies", conn)
df.head()

<sqlite3.Connection object at 0x11e891d50>

,id,original_title,budget,popularity,release_date,revenue,title,vote_average,vote_count,overview,tagline,uid,director_id
0,43597,Avatar,237000000,150,2009-12-10,2787965087,Avatar,7.2,11800,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,19995,4762
1,43598,Pirates of the Caribbean: At World's End,300000000,139,2007-05-19,961000000,Pirates of the Caribbean: At World's End,6.9,4500,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",285,4763
2,43599,Spectre,245000000,107,2015-10-26,880674609,Spectre,6.3,4466,A cryptic message from Bond’s past sends him o...,A Plan No One Escapes,206647,4764
3,43600,The Dark Knight Rises,250000000,112,2012-07-16,1084939099,The Dark Knight Rises,7.6,9106,Following the death of District Attorney Harve...,The Legend Ends,49026,4765
4,43601,John Carter,260000000,43,2012-03-07,284139100,John Carter,6.1,2124,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.",49529,4766

In [19]:
 import psycopg2

# establish connection to the Postgresql database
conn = psycopg2.connect(
    database="StocksDB",
    user="evr_sql_app",
    password="5LViU5pLkSjRHECec9NF4wRxxV",
    host="endeavourtech.ddns.net",
    port="32863"
)

In [20]:
cur=conn.cursor()

In [21]:
print(cur)

<cursor object at 0x120114d60; closed: 0>

In [22]:
cur.execute("select relname from pg_class where relkind='r' and relname !~ '^(pg_|sql_)';")
print(cur.fetchall())

[('company_locations_staging',), ('stock_fundamentals',), ('stocks_price_history',), ('sector_lookup',), ('stocks_lookup',), ('subsector_lookup',), ('state_lookup',), ('company_locations',), ('stock_fundamentals_staging',), ('stocks_price_history_staging',), ('total_market_stocks',)]

In [18]:
 # get data from url
df_html = pd.read_html('https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)',match = 'by country')
# Let's see how many tables are there with tage ' by county'
print(len(df_html)) # There are 4 tables
# Let's see the first table
df_html[0]

4

    Country/Territory UN region IMF[1][13]            World Bank[14]  \
    Country/Territory UN region   Forecast       Year       Estimate
0               World         —  109529216       2024      100562011
1       United States  Americas   28781083       2024       25462700
2               China      Asia   18532633  2024[n 1]       17963171
3             Germany    Europe    4591100       2024        4072192
4               Japan      Asia    4110452       2024        4231141
..                ...       ...        ...        ...            ...
208          Kiribati   Oceania        311       2024            223
209  Marshall Islands   Oceania        305       2024            280
210             Nauru   Oceania        161       2024            151
211        Montserrat  Americas          —          —              —
212            Tuvalu   Oceania         66       2024             60

               United Nations[15]
          Year           Estimate       Year
0         2022           96698005       2021
1         2022           23315081       2021
2    2022[n 3]           17734131  2021[n 1]
3         2022            4259935       2021
4         2022            4940878       2021
..         ...                ...        ...
208       2022                227       2021
209       2022                257       2021
210       2022                155       2021
211          —                 72       2021
212       2022                 60       2021

[213 rows x 8 columns]